<app-nav></app-nav>
<div class="heros">
    <div>
        <div class="hero-img">
            <div style="background: url(); background-size: contain; background-repeat: space;"></div>  
        </div>
    </div>
    <div>
        <div class="hero-stats">
            <div class="infos">
                <div><h3>Name: </h3></div>
                <div><h3>Intelligence: </h3></div>
                <div><h3>Strength: </h3></div>
                <div><h3>Speed: </h3></div>
                <div><h3>Durability: </h3></div>
                <div><h3>Power: </h3></div>
                <div><h3>Combat: </h3></div>
            </div>
        </div>
    </div>
</div>