.heros
    border: 2px solid rgba(255, 217, 0, 0.856)
    border-radius: 6px 
    height: 50vh
    justify-content: center
    align-content: center
    margin: 0.3em 25em
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr

.hero-img
    display: flex
    position: relative
    height: 100%
    width: 100%
    margin: auto
    align-items: center
    justify-content: center

.hero-img div
    padding: 8em 7em
    margin: auto
    border: 2px solid rgba(255, 217, 0, 0.856)
    border-radius: 3px
    background: #583c85


.hero-stats
    font-family: 'Happy Monkey', cursive
    height: 100%
    width: 100%
    margin: auto
    display: flex
    position: relative
    flex-direction: column
    background: #9e9e9e2d

.infos
    color: rgba(255, 217, 0, 0.856)
    margin-left: 1em

    h3
        display: inline
    p
        display: inline

    div
        padding: 10px
